3_Gmail_automation_trigger_OnScheduler.json
{
  "name": "3_Gmail_automation_trigger_OnScheduler",
  "nodes": [
    {
      "parameters": {
        "sendTo": "MohamedSayedBadawy200@gmail.com",
        "subject": "Test_Gmail_automation",
        "emailType": "text",
        "message": "=The time is  {{ $json.timestamp }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -256,
        -240
      ],
      "id": "1ede8476-1f58-4708-966b-a5c8577d57a5",
      "name": "Send a message",
      "webhookId": "e2fe97bd-44f1-4ac1-a195-026a3fdef6cf",
      "credentials": {
        "gmailOAuth2": {
          "id": "Fo8FwuV6tGrrC1TT",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "17GBT2mydcqBKtoWfsoSB935e97ml5QtoB8uFnXhcECY",
          "mode": "list",
          "cachedResultName": "Test n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17GBT2mydcqBKtoWfsoSB935e97ml5QtoB8uFnXhcECY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17GBT2mydcqBKtoWfsoSB935e97ml5QtoB8uFnXhcECY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "time of trigger": "={{ $('Schedule Trigger').item.json.timestamp }}"
          },
          "matchingColumns": [
            "Message"
          ],
          "schema": [
            {
              "id": "time of trigger",
              "displayName": "time of trigger",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -32,
        -240
      ],
      "id": "05f9785a-98ca-4a80-a2d9-f023db6b43ae",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WiDdSXrbxRjtRrF3",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -480,
        -240
      ],
      "id": "a36801b8-c699-4d12-9098-7bc33a3c7342",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Send a message": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Africa/Cairo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "b8139b3e-a057-4a79-837d-8cd5e6eede52",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62c7619f844c17c7db6e4812986ae2b51c7c81413a33d5444dc04a3fb8bd097d"
  },
  "id": "YLxWt5PBZ8rv04RO",
  "tags": []
}