RAG_with_Chatbot_V3.json
{
  "name": "RAG_with_Chatbot_V3",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1O4X5e5m4MuzSzD6tq1rUjeakWFyMHhee",
          "mode": "list",
          "cachedResultName": "Apple Reports",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1O4X5e5m4MuzSzD6tq1rUjeakWFyMHhee"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1504,
        -384
      ],
      "id": "89b8ad03-8f03-447a-9a6f-b242a99aa672",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8at2a0xvrgsyN0GG",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1168,
        -384
      ],
      "id": "5a3a2ac3-5db3-4187-9544-14766045646a",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8at2a0xvrgsyN0GG",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nrag",
          "mode": "list",
          "cachedResultName": "n8nrag"
        },
        "embeddingBatchSize": 1,
        "options": {
          "clearNamespace": false,
          "pineconeNamespace": "={{ $json.name }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -784,
        -384
      ],
      "id": "60666bb0-d822-43ac-aab7-0127fbdf0da8",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "9ZFUCQ0N7DImjWlO",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -784,
        -144
      ],
      "id": "96b0b8d5-785b-46fa-84a4-96d84a35488d",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "XFUQDOV10R5qZccy",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -608,
        -144
      ],
      "id": "264d5fa8-fa88-42a7-ae93-7b5d3de10b81",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "content": "## Knowledge Base  ",
        "height": 720,
        "width": 1376,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1584,
        -512
      ],
      "typeVersion": 1,
      "id": "425ae00a-8d27-43a1-967e-9426f4defe03",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# ChatBot ",
        "height": 704,
        "width": 992
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        -512
      ],
      "id": "27e8ef4e-ecc5-428f-8dff-a0aae2909807",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "=You are an AI assistant specialized in analyzing Apple’s quarterly financial reports. Your main goal is to answer questions accurately and precisely using the vector database, which contains relevant Q1 and Q2 reports.\n\nProvide only information that comes directly from these reports or verified data. If the requested information is missing or unclear, explicitly state that there is insufficient data.\n\nKeep responses concise and to the point. Include specific numbers and facts whenever possible, and clearly indicate whether the information is sourced from Q1 or Q2.\n\nDeliver quick, reliable insights into Apple’s quarterly financials without adding unnecessary details."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        272,
        -448
      ],
      "id": "1c25810d-7a01-4129-86df-fd1ed366c0cd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        96,
        -176
      ],
      "id": "a20a0bd2-2eb7-4084-9362-d7e907aba7b5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XFUQDOV10R5qZccy",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "description": "Returns documents related to Apple Q1 &Q2 reports, including financials, outlook, margins, and all key details from the earnings reports.\n\n",
        "topK": 10
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        512,
        -288
      ],
      "id": "5136c035-2d2b-48bf-8039-2b685f6fda26",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        656,
        -128
      ],
      "id": "6916aec1-d485-47eb-961e-dd6c41b95756",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "XFUQDOV10R5qZccy",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nrag",
          "mode": "list",
          "cachedResultName": "n8nrag"
        },
        "options": {
          "pineconeNamespace": "={{ $json.file_name }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        352,
        -96
      ],
      "id": "fc962ea8-cd41-4e81-82b7-55d04915eb8a",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "9ZFUCQ0N7DImjWlO",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        256,
        64
      ],
      "id": "70b18bd5-7596-4cf1-b22c-15915ef48fdc",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "XFUQDOV10R5qZccy",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -112,
        -432
      ],
      "id": "fa0bd271-ba01-4b10-be97-24e1c1b9bdab",
      "name": "When chat message received",
      "webhookId": "d1655d15-9b03-41c4-b009-ba1290b9b96d"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1552,
        -48
      ],
      "id": "729804c1-2ad3-4dd1-81b9-25036236ecf6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1O4X5e5m4MuzSzD6tq1rUjeakWFyMHhee",
            "mode": "list",
            "cachedResultName": "Apple Reports",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1O4X5e5m4MuzSzD6tq1rUjeakWFyMHhee"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1328,
        -272
      ],
      "id": "1bc9c5bd-f7ea-44b5-9377-6f103b713c8d",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8at2a0xvrgsyN0GG",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1264,
        -16
      ],
      "id": "0c898330-5977-4faf-ac76-4b3ec2926138",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8at2a0xvrgsyN0GG",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1008,
        -16
      ],
      "id": "5057123f-a0a3-49ff-a98a-7839ecb1ef47",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -384,
        32
      ],
      "id": "9d35025a-ebf2-45a8-996e-22f23b596283",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6fee71ec-d89b-435f-9db4-c9b271e5ed50",
              "name": "file_name",
              "value": "={{ $json.chatInput.match(/Q[12]/i)?.[0].toUpperCase().trim() + '.pdf' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -448
      ],
      "id": "e40b1cef-45bf-48ff-96c8-b0c8ba2bd502",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "content": "# this project has two problems\n - ### you must ener  name of file  chatInput\n- ### this workflow allow duplication of files on pinecone ",
        "height": 128,
        "width": 544,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2192,
        -256
      ],
      "typeVersion": 1,
      "id": "13bd2877-0f71-4fd5-8022-b02fe17c8c51",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1032c2b1-47fb-489f-92b5-8e6fbff6ee5a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62c7619f844c17c7db6e4812986ae2b51c7c81413a33d5444dc04a3fb8bd097d"
  },
  "id": "cuPHMv6wIxqfStov",
  "tags": []
}