RAG_with_Chatbot_V2.json
{
  "name": "RAG_with_Chatbot_V2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1O4X5e5m4MuzSzD6tq1rUjeakWFyMHhee",
          "mode": "list",
          "cachedResultName": "Apple Reports",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1O4X5e5m4MuzSzD6tq1rUjeakWFyMHhee"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1296,
        -304
      ],
      "id": "ea7169fa-ff86-47e3-b658-a455533adc4a",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8at2a0xvrgsyN0GG",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -944,
        -304
      ],
      "id": "0ad69baf-b6e8-47ea-97cc-a51fa4a09ece",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8at2a0xvrgsyN0GG",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nrag",
          "mode": "list",
          "cachedResultName": "n8nrag"
        },
        "embeddingBatchSize": 1,
        "options": {
          "clearNamespace": false,
          "pineconeNamespace": "Apple"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -704,
        -304
      ],
      "id": "06d942a3-1960-43df-b0c6-dc1ad7321147",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "9ZFUCQ0N7DImjWlO",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -704,
        -128
      ],
      "id": "cb76c04a-570d-4fcb-b49c-640731e440dd",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "XFUQDOV10R5qZccy",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "n8n file ",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -576,
        -144
      ],
      "id": "2b8127da-bbdf-4fe9-9b33-0f6091ffe29b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "content": "## Knowledge Base  ",
        "height": 368,
        "width": 1024
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1344,
        -368
      ],
      "typeVersion": 1,
      "id": "ebb07a83-f32e-4644-ae2a-5810016cbd30",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# ChatBot ",
        "height": 672,
        "width": 928
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -288,
        -384
      ],
      "id": "fbeebf43-446e-41b1-9262-b56b2253fda0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are an AI assistant specialized in analyzing Apple’s quarterly financial reports. Your main goal is to answer questions accurately and precisely using the vector database, which contains relevant Q1 and Q2 reports.\n\nProvide only information that comes directly from these reports or verified data. If the requested information is missing or unclear, explicitly state that there is insufficient data.\n\nKeep responses concise and to the point. Include specific numbers and facts whenever possible, and clearly indicate whether the information is sourced from Q1 or Q2.\n\nDeliver quick, reliable insights into Apple’s quarterly financials without adding unnecessary details."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -32,
        -272
      ],
      "id": "909a84aa-202d-4f0b-b82c-5c445cddee95",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -160,
        -64
      ],
      "id": "de1693b8-1c46-44f2-a2ac-e1d37ded2327",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XFUQDOV10R5qZccy",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -16,
        -64
      ],
      "id": "9065e7a0-ed14-45f3-9edd-988e4d6d5268",
      "name": "Simple Memory",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "description": "Returns documents related to Apple Q1 reports, including financials, outlook, margins, and all key details from the earnings reports.\n\n",
        "topK": 10
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        288,
        -128
      ],
      "id": "c1f8fc1d-e4bd-4cdb-9a92-a4f9cc6e0d24",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        496,
        48
      ],
      "id": "f1c1deac-abb8-43a5-91a8-6f8cfbcdae45",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "XFUQDOV10R5qZccy",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nrag",
          "mode": "list",
          "cachedResultName": "n8nrag"
        },
        "options": {
          "pineconeNamespace": "Apple"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        128,
        32
      ],
      "id": "a2e8d14d-9da3-4a6d-a796-bed5724b424a",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "9ZFUCQ0N7DImjWlO",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        32,
        176
      ],
      "id": "ae68705f-d585-4440-ab9b-76e50b5db3ee",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "XFUQDOV10R5qZccy",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -240,
        -256
      ],
      "id": "297ce2cc-106a-4cf8-b22e-cebe3be316d6",
      "name": "When chat message received",
      "webhookId": "e33b461f-8396-4765-bd46-06d1757740cf"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1264,
        -144
      ],
      "id": "eec852e0-adb6-455a-8868-d6e0dad3cbb4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1O4X5e5m4MuzSzD6tq1rUjeakWFyMHhee",
            "mode": "list",
            "cachedResultName": "Apple Reports",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1O4X5e5m4MuzSzD6tq1rUjeakWFyMHhee"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1040,
        -144
      ],
      "id": "77a946c5-b89a-49aa-bb9f-99bdcc694f86",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8at2a0xvrgsyN0GG",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -864,
        -144
      ],
      "id": "f7758e92-f803-49ea-8fa7-0f4152d2d3a8",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8at2a0xvrgsyN0GG",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "### this workflow  as two problms \n-  default Data loader divide the total files and send them and causes conflict becuase all chunks gets misarranged \n- simple  memory has the previous question memory and  that causes wrong answers because AI agent depends on its memory ",
        "height": 144,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1088,
        48
      ],
      "typeVersion": 1,
      "id": "f8ba1a9a-4c66-492e-9da0-ac32337bdf74",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "454d995e-fa67-4597-b3a9-0133662c9eb0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62c7619f844c17c7db6e4812986ae2b51c7c81413a33d5444dc04a3fb8bd097d"
  },
  "id": "Z9RXR0GatVuWzRca",
  "tags": []
}